/* Apply some basic styles to the page */
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .col {
    flex: 1;
    margin-right: 20px;
  }
  
  /* Style the info div */
  #comercio-form {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
  }
  
  #comercio-form h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  #comercio-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  #comercio-form input[type="text"],
  #comercio-form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  #comercio-form textarea {
    height: 100px;
  }
  
  #comercio-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  /* Style the uploads div */
  #uploads {
    flex-basis: 30%;
    text-align: center;
  }
  
  #uploads h3 {
    font-size: 18px;
    margin-top: 0;
  }
  
  #uploads input[type="text"]{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 100px;
    border: 2px solid black;
    width: 100%;
    overflow-y: auto;
  }

  
  #uploads input[type="file"]{
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    width: 100%;
  }
  
  #uploads img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  /* Style the city users section */
  #city-users {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  #city-users-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }

  #get-emails{
    width: 500px;
    margin-left: 400px;
  }

  .text-image-pair{
    width: 40%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0 10px;
  }
  #upload-pair{
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }