		html, body {
			height: 100%;
			margin: 0;
			padding: 0;
			font-family: Arial, sans-serif;
			background-color: #F5F5F5;
		}
		.container {
			display: flex;
			flex-direction: row;
			height: 100%;
		}
		.left {
			width: 15%;
			padding: 40px;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		h1 {
			font-size: 2rem;
			font-weight: bold;
			margin-bottom: 20px;
			color: #333;
			text-align: center;
		}
		form {
			display: flex;
			flex-direction: column;
		}
		label {
			font-size: 1.2rem;
			font-weight: bold;
			margin-bottom: 5px;
			color: #333;
		}
		input[type="text"], select {
			padding: 10px;
			border: none;
			border-radius: 5px;
			margin-bottom: 20px;
			box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
			background-color: white;
		}
		button[type="submit"] {
			padding: 10px 20px;
			border: none;
			border-radius: 5px;
			background-color: #4CAF50;
			color: #FFF;
			font-size: 1.2rem;
			font-weight: bold;
			box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
			cursor: pointer;
			transition: background-color 0.3s ease-in-out;
		}
		button[type="submit"]:hover {
			background-color: #3E8E41;
		}
		.right {
			width: 85%;
			background-color: #FFF;
			/* background-image: url("https://images.unsplash.com/photo-1505826759037-406b40feb5d6"); */
			background-size: cover;
			background-position: center;
		}
		.webpage_row{
			width: 100%; 
			overflow-x: auto;
			border-radius: 10px;
			margin-top: 50px;
			max-height: 500px;
			overflow-y: auto;
			border: 2px solid black;

		}
		.images-texts{
			display: flex;
			width: 100%; 
			overflow-x: auto;
		}
		.info{
			text-align: center;
		}
		.image_text_pair{
			width: 200px;
			margin-right: 15px;
			margin-left: 15px;
		}
		.image_text_pair img, .image_text_pair a{
			width: 200px;
		}
		.reviews-container{
			margin-left: 30px;
		}

		